body {
    margin: 0;
    overflow: hidden;
  }

#overlay {
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: 10;
  color: white;
  font-size: 20px;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 10px;
}

#audioDiv {
  position: absolute;
  display: none;
  align-items: center;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: white;
  font-size: 20px;
  background: rgba(0,0,0,0.5);
  /*padding: 10px;*/
  border-radius: 10px;
  gap: 10px;
}

#audioClick {
}

#cerrarBtn {
  border-radius: 50%;
  border-collapse: separate; 
  color: white;
  background-color: red;
  font-size: 16px;
  font-weight: bolder;
}
