body {
    margin: 0;
    overflow: hidden;
  }

#overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    color: white;
    font-size: 20px;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 10px;
}

#audio-click {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 10;
    color: white;
    font-size: 20px;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 10px;
}